<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Clientes</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/global.css}">
</head>
<body>
    <h1>Clientes</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="customer : ${customers}">
                <td th:text="${customer.name}">Nome</td>
                <td th:text="${customer.email}">Email</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
